*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .para{
    border: 2px solid black;
  }

  :root{
    --border-color: #dddd;
    --accent-color: #45Beff;
  }

  h1, h2, h3, h4, h5, h6{
    color:  #212121;
  }

  h3, h6{
    font-weight:  400;
  }
  p{
    color: #4555;
    font-size: 0.9rem;
  }
  .hover-link{
    cursor: pointer;
  }
  .container{
    max-width: 960px;
    margin-inline: auto;
  }